---
layout: base
---
<style> 
  .properties p > strong > a { color: crimson; font-size: 110%; text-decoration: none; }
  .properties table { 
    margin-left:3rem; 
    width: calc(100% - 6rem); 
    border:1px solid #555;
  }
  .properties td, .properties th {
    border:1px solid #555;
    padding: 8px;
    line-height: 1.2;
  }
  .properties th {
    background-color:#E2F0F7;
    font-weight:bold !important;
    text-align:center !important;
  }
</style>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  let maxWidth = '{{ page.max-width }}';
</script>